/* Utilites */
:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #fff;
  --style-color: #2196f3;
  --gap: 30px;
  --section-gap: 50px;
  --social-links-color: #afb1b8;
}

body {
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-flex {
  display: flex;
}

.hidden {
  visibility: hidden;
}

/* Header */
.page-header {
  border-bottom: 1px solid #ececec;
}

/* Logo */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  text-decoration: none;

  color: #000;

  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;
}

.logo-style {
  color: var(--style-color);
}

.logo-style-footer {
  color: var(--accent-color);
}

/* Site navigation */
.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .list + .list {
  margin-left: var(--section-gap);
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  padding-top: 10px;
  padding-bottom: 10px;

  color: var(--title-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--style-color);
}

.site-nav .link-style {
  color: var(--style-color);
  position: relative;
}

.site-nav .link-style::after {
  content: '';
  width: 100%;
  height: 4px;

  position: absolute;
  bottom: 0;

  background-color: var(--style-color);
  border-radius: 2px;
}

/* Contacts */
.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts .list + .list {
  margin-left: var(--section-gap);
}

.contacts .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 10px;
  padding-bottom: 10px;

  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--style-color);
}

.list .link {
  display: flex;
  align-items: center;
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Hero */
.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 280px;
  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color);

  max-width: 696px;
  margin-bottom: var(--gap);
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--accent-color);
  background-color: var(--style-color);

  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* Sections */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Features */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

.section-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.section-text {
  font-size: 14px;
  line-height: 1.71;
}

.section-color {
  background-color: #f5f4fa;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--gap));
  margin-top: calc(-1 * var(--gap));
}

.features-list > .list {
  flex-basis: calc(100% / 4 - var(--gap));
  margin-left: var(--gap);
  margin-top: var(--gap);
}

.background-icon {
  display: flex;
  background: #f5f4fa;
  border-radius: 4px;
  align-items: center;

  margin-bottom: var(--gap);
  height: 120px;
}

.feature-icon {
  margin-left: auto;
  margin-right: auto;
}

/* Our classes */

.section-gap {
  padding-top: 0;
}

.section-title {
  margin-bottom: var(--section-gap);
}

.images-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--gap));
  margin-top: calc(-1 * var(--gap));
}

.images-list > .image {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: var(--gap);
  margin-top: var(--gap);
}

.image {
  position: relative;
}

.image-description {
  position: absolute;
  top: 224px;
  min-width: 370px;
  min-height: 70px;

  background: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  padding-top: 27px;
}

/* Our team */
section-title {
  margin-bottom: var(--section-gap);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--gap));
  margin-top: calc(-1 * var(--gap));
}

.team-list > .team-member {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: var(--gap);
  margin-top: var(--gap);

  background-color: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.userpic {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.userpic-description {
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  margin-bottom: 16px;
}

.card-userpic {
  padding-top: 30px;
  padding-bottom: 30px;
}

.img-container {
  display: flex;
  justify-content: center;
}

.social-link {
  display: flex;
  border: none;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;
  color: var(--social-links-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  color: var(--accent-color);
  background-color: var(--style-color);
}

.social-icon {
  fill: currentColor;
}

.card-userpic .social-link + .social-link {
  margin-left: 10px;
}

/* Company */
.company-list {
  display: flex;
}

.company-item + .company-item {
  margin-left: var(--gap);
}

.company-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  fill: var(--social-links-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-link:hover,
.company-link:focus {
  fill: var(--style-color);
  border-color: var(--style-color);
}

/* Buttons*/
.button {
  display: flex;
  justify-content: center;
  margin-bottom: var(--section-gap);
}

.button .list-button {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button .list-button:focus,
.button .list-button:hover {
  color: var(--accent-color);
  background-color: var(--style-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button .list + .list {
  margin-left: 8px;
}

.list-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  padding: 6px 22px;

  border: 1px solid transparent;
  border-radius: 4px;
}

/* Our produtcs */
.products-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--gap));
  margin-top: calc(-1 * var(--gap));
}

.products-list > .our-products {
  flex-basis: calc(100% / 3 - var(--gap));
  margin-left: var(--gap);
  margin-top: var(--gap);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-products:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-card .link {
  color: inherit;
}

.img-description {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.item-description {
  font-size: 16px;
  line-height: 1.87;
}

/* Footer */
.footer {
  background-color: #2f303a;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.footer .footer-text {
  color: var(--accent-color);
  font-style: normal;
}

.footer .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--style-color);
}

.footer-text {
  margin-bottom: 9px;
  margin-top: 20px;
}

.footer-contacts-list .list + .list {
  margin-top: 9px;
}

.social-footer {
  margin-left: 70px;
}

.social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--accent-color);

  margin-bottom: 20px;
}

.social-flex {
  display: flex;
}

.footer-social-link {
  display: flex;
  border: none;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  color: var(--accent-color);
  background-color: var(--style-color);
}

.footer-social-link + .footer-social-link {
  margin-left: 10px;
}
